<!-- show legendary action partial -->
<strong><%= legendary_action.name %></strong>
<p><%= legendary_action.desc %></p>
<table>
	<tr>
		<td>Attack Bonus</td>
		<td><%= legendary_action.attack_bonus %></td>
	</tr>
	<tr>
		<td>Damage Dice</td>
		<td><%= legendary_action.attack_bonus %></td>
	</tr>
</table>
<br>