<!-- show legendary action partial -->
<li>
<div class="collapsible-header"><%= legendary_action.name %></div>
	<div class="collapsible-body"><%= legendary_action.desc %>
		<table>
			<% if legendary_action.attack_bonus > 0 %>
				<tr>
					<td>Attack Bonus</td>
					<td><%= legendary_action.attack_bonus %></td>
				</tr>
			<% end %>
			<% if legendary_action.attack_bonus > 0 %>
				<tr>
					<td>Damage Dice</td>
					<td><%= legendary_action.attack_bonus %></td>
				</tr>
			<% end %>
		</table>
	</div>
</li>