<!-- show legendary action partial -->
<strong><%= legendary_action.name %></strong>
<p><%= legendary_action.desc %></p>
<table>
	<% if legendary_action.attack_bonus > 0 %>
		<tr>
			<td>Attack Bonus</td>
			<td><%= legendary_action.attack_bonus %></td>
		</tr>
	<% end %>
	<% if legendary_action.attack_bonus > 0 %>
		<tr>
			<td>Damage Dice</td>
			<td><%= legendary_action.attack_bonus %></td>
		</tr>
	<% end %>
</table>
<br>